html {
  font-size: 10px;

  @media (max-width: 919px) {
    font-size: 9px;
  }

  @media (max-width: 768px) {
    font-size: 8px;
  }

  @media (max-width: 634px) {
    font-size: 7px;
  }

  @media (max-width: 480px) {
    font-size: 6.5px;
  }
}

@media (max-width: 919px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  header {
    margin-top: -40rem;
    margin-left: 10rem;
  }
}

@media (max-width: 634px) {
  html {
    font-size: 7px;
  }

  header {
    margin-bottom: 20rem;
    margin-left: 25rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 6.5px;
  }

  header {
    display: none;
  }

  .main__hero-responsive {
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__logo-project {
    margin-top: 3rem;

    p {
      font-size: 2.77rem;
    }

    img {
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;
    }
  }

  .footer__address {
    margin-left: 0;
    font-size: 2.4rem;
    text-align: center;

    a {
      margin-top: 0;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .footer__copyrigth {
    margin-bottom: 3rem;

    p {
      color: rgba(255, 255, 255, 0.4);
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
