* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 120rem;
  width: 100%;
  margin: 0 1rem;
}

.main__hero {
  width: 120rem;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  background-image: url("../assets/bg-1.png");
  background-size: cover;
  color: white;
}
.main__hero h1 {
  font-size: 4.8rem;
}
.main__hero h2 {
  color: #ffffff;
  opacity: 70%;
  font-size: 2.4rem;
}

.main__content {
  max-width: 120rem;
  width: 100%;
  height: 70rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__content h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 4.8rem;
  color: #666666;
}
.main__content button {
  margin-top: 2.1rem;
  background: #55c2d8;
  border-radius: 1.8rem;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
}
.main__content .main__content-h {
  max-width: 70rem;
  width: 100%;
  color: #464547;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-top: -10rem;
}
.main__content .main__content-text {
  max-width: 80rem;
  width: 100%;
  display: flex;
  gap: 8.3rem;
}
.main__content .main__content-text p {
  color: #666666;
  font-size: 1.3rem;
  text-align: left;
}

.learn__more {
  background-image: url("../assets/bg-2.png");
  text-align: center;
  margin-top: -10rem;
  width: 120rem;
  max-width: 100%;
  height: 66.6rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learn__more h2 {
  margin-top: -12rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
}
.learn__more button {
  margin-top: 5rem;
  max-width: 15rem;
  width: 100%;
  height: 15rem;
  background: #39c2d7;
  border-radius: 100%;
  border: none;
}
.learn__more .play__logo {
  font-size: 5rem;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.learn__more h3 {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

footer {
  max-width: 120rem;
  width: 100%;
  height: 17rem;
  background-color: #464547;
  color: white;
  padding: 2rem 2rem 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  height: 2rem;
  width: 2rem;
}
footer .footer__logo-project {
  margin-top: 2.1rem;
  margin-bottom: 1.5rem;
}
footer .footer__logo-project p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.6rem;
  color: #ffffff;
}
footer .footer__address {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
}
footer .footer__address a {
  margin-top: 1.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
footer .footer__copyrigth {
  margin-bottom: -3rem;
}
footer .footer__copyrigth p {
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
}

header {
  margin-top: -30rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #logo {
  font-size: 2rem;
  margin-left: -40rem;
}
header ul {
  display: flex;
  margin-left: 10rem;
}
header ul li a {
  font-size: 1.4rem;
  outline: none;
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

nav ul {
  list-style-type: none;
}

[title] {
  border-bottom: 0.1rem solid white;
  padding-bottom: 0.5rem;
}

.footer__logo-project {
  display: flex;
  align-items: center;
  margin-top: -3rem;
}
.footer__logo-project img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.burger-menu__responsive {
  background-color: transparent;
  margin-top: -40rem;
  max-width: 48rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main__hero-company-name {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 17rem;
}

.main__her-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 17rem;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}
.main__her-burger-menu span {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  margin-bottom: 0.05rem;
}

html {
  font-size: 10px;
}
@media (max-width: 919px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 634px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 919px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  header {
    margin-top: -40rem;
    margin-left: 10rem;
  }
}
@media (max-width: 634px) {
  html {
    font-size: 7px;
  }
  header {
    margin-bottom: 20rem;
    margin-left: 25rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 6.5px;
  }
  header {
    display: none;
  }
  .main__hero-responsive {
    display: block;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo-project {
    margin-top: 3rem;
  }
  .footer__logo-project p {
    font-size: 2.77rem;
  }
  .footer__logo-project img {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
  }
  .footer__address {
    margin-left: 0;
    font-size: 2.4rem;
    text-align: center;
  }
  .footer__address a {
    margin-top: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
  }
  .footer__copyrigth {
    margin-bottom: 3rem;
  }
  .footer__copyrigth p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 2.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */